################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.suo
*.dll
/node_modules
/obj/Debug
*.sln
*.njsproj
/mbtile/GoogleBackGround.mbtiles
/RASTER_Google_
*.user
/.vs/TileLoader/v17
